/* Fix for duplicate eye icons in password fields */

/* Hide browser's native password reveal button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden !important;
    display: none !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
}

/* Remove any duplicate eye icon pseudo-elements */
.form-control[type="password"]::after,
.form-control[type="password"]::before {
    display: none !important;
}

/* Hide all eye icons that might be added by libraries */
.mb-3 .fa-eye,
.mb-3 .fa-eye-slash,
.mb-3 i[class*="eye"],
.form-control ~ .fa-eye,
.form-control ~ .fa-eye-slash,
.form-control ~ i[class*="eye"],
input[type="password"] ~ .fa-eye,
input[type="password"] ~ .fa-eye-slash,
input[type="password"] ~ i[class*="eye"] {
    display: none !important;
}

/* Hide password toggle buttons */
.password-toggle,
.password-toggle-icon,
.toggle-password,
.show-password,
.hide-password {
    display: none !important;
}

/* Ensure only one eye icon appears if using a toggle library */
.password-toggle-icon ~ .password-toggle-icon {
    display: none !important;
}
