.twm-s-map-iframe,
.twm-s-map-iframe iframe {
  filter: none !important;
  -webkit-filter: none !important;
  -moz-filter: none !important;
  -ms-filter: none !important;
  -o-filter: none !important;
}
